.half__image {
  width: 50%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  right: 0;
}

.half__content {
  width: 50%;
  padding: 2rem;
}

/* half_side가 right일 때 */
.half--right {
  margin-left: 50%;
}

/* half_side가 left일 때 */
.half--left .half__image {
  left: 0;
  right: auto;
}