/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700,700i");

body {
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.half {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .half {
        flex-direction: row;
        height: 100vh;
        width: 100vw;
    }
}

.half__image {
    width: 50vw; /* 50% of viewport width */
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
}

.half__content {
    width: 50vw; /* 50% of viewport width */
    padding: 2rem;
    position: absolute;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.half--left .half__image {
    left: 0;
}

.half--left .half__content {
    right: 0;
    margin-left: 50vw;
}

.half--right .half__image {
    right: 0;
}

.half--right .half__content {
    left: 0;
    margin-right: 50vw;
}

.socialLinks__link {
    background-color: transparent;
    display: inline-block;
    position: relative;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: purple;
    font-size: 0.9em;
    line-height: 1.2em;
    font-weight: 300;
    padding: 0.5em 1.5em;
    border: 1px solid purple;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 0.5em;
    transition: background-color 0.14s ease-in-out;
}

.socialLinks__link:focus, .socialLinks__link:hover {
    color: #fff;
    text-decoration: none;
    background-color: purple;
}
